<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
</head>
<body>
   <form action="" method="post">
    Nome: <input type="text" name="nomeForm" id=""><br>
    Email: <input type="text" name="emailForm" id=""><br>
    Senha: <input type="password" name="senhaForm" id=""><br>
    <input type="submit" value="Submeta"> 
   </form>
    <h1>Ja possui uma conta ? Faça login abaixo</h1>
    <!-- Botão de Login -->
    <form action="{{ url_for('login') }}" method="get">
        <button type="submit" class="login-button">Login</button>
</form>
</body>
</html>